WS transport - not connectable from Firefox

Actually websocket transport do not allow make connection from some browser, including Firefox. The problem is that library now accepts only header "Connection: Upgrade", but Firefox uses "Connection: keep-alive, Upgrade", which do not violate websocket RFC.
A fast workarounf for src/transports/ws/ws_handshake.c:

```diff
--- ws_handshake.c      2016-06-10 19:59:35.000000000 +0100
+++ ws_handshake.c.new  2016-07-13 18:39:36.000000000 +0100
@@ -996,8 +996,10 @@
     }

     /*  RFC 6455 section 4.2.1.4 (version December 2011). */
-    if (nn_ws_validate_value ("Upgrade", self->conn,
-        self->conn_len, 1) != NN_WS_HANDSHAKE_MATCH) {
+    if ((nn_ws_validate_value ("Upgrade", self->conn,
+        self->conn_len, 1) != NN_WS_HANDSHAKE_MATCH) &&
+       (nn_ws_validate_value ("keep-alive, Upgrade", self->conn,
+        self->conn_len, 1) != NN_WS_HANDSHAKE_MATCH)) {
         self->response_code = NN_WS_HANDSHAKE_RESPONSE_WSPROTO;
         return NN_WS_HANDSHAKE_INVALID;
     }
```

thanks.  i want to investigate to see if we should be handling this more generically. stay tuned. 

Sent from my iPhone

> On Jul 14, 2016, at 10:44 PM, majklik <notifications@github.com> wrote:
> 
> Actually websocket transport do not allow make connection from some browser, including Firefox. The problem is that library now accepts only header "Connection: Upgrade", but Firefox uses "Connection: keep-alive, Upgrade", which do not violate websocket RFC.
> A fast workarounf for src/transports/ws/ws_handshake.c:
> 
> --- ws_handshake.c      2016-06-10 19:59:35.000000000 +0100
> +++ ws_handshake.c.new  2016-07-13 18:39:36.000000000 +0100
> @@ -996,8 +996,10 @@
>      }
> 
>      /*  RFC 6455 section 4.2.1.4 (version December 2011). */
> -    if (nn_ws_validate_value ("Upgrade", self->conn,
> -        self->conn_len, 1) != NN_WS_HANDSHAKE_MATCH) {
> +    if ((nn_ws_validate_value ("Upgrade", self->conn,
> +        self->conn_len, 1) != NN_WS_HANDSHAKE_MATCH) &&
> +       (nn_ws_validate_value ("keep-alive, Upgrade", self->conn,
> +        self->conn_len, 1) != NN_WS_HANDSHAKE_MATCH)) {
>          self->response_code = NN_WS_HANDSHAKE_RESPONSE_WSPROTO;
>          return NN_WS_HANDSHAKE_INVALID;
>      }
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub, or mute the thread.
> 


Thank you for the bug report here. Although WebSocket RFC 6455 does not specify the browser behavior you're seeing, it's definitely permissible as an inherited behavior from HTTP RFC 7230 3.2.2 dealing with comma-separated header fields.

It seems Firefox is combining `Connection: keep-alive` with `Connection: Upgrade` to form `Connection: keep-alive, Upgrade`. Which could just as well be `Connection: Upgrade, keep-alive`, meaning matching against a static string is not a good idea.

Having some familiarity with this part of the code, it seems that one sustainable solution is to upgrade [`nn_ws_validate_value`](https://github.com/nanomsg/nanomsg/blob/3f3a4ebc21fcb17d884698399c008fec0a4c51d4/src/transports/ws/ws_handshake.c#L363-L387) to split tokens on commas (perhaps optionally, driven by a new parameter), looking for a single token match rather than a full-value match.

My only concern is to open this new parsing ability insofar as to fix what is clearly a bug, yet without letting potential new fuzz get past. For this reason, does it only make sense at this point to iterate the `Connection` header field for comma-separated values?

Yes, this diff is a bit stupid solution but opens the door for me at this moment and show the place of the problem in the source code. :-)
I agree that correct way is parse the header parameters and looks for the "upgrade" keyword.

Well, I looked on this part (nn_ws_handshake_parse_client_opening() ) and I§m seeing two next possible similar problematic points:
a) Upgrade: header
The client can include multiple values among which server can select. For example the client can send "Upgrade: TLS/1.1, WebSocket" to indicate in the place request for switching to wss. NanoMsg do not supports TLS now so correct reaction is to switch only to WS with "Upgrade: websocket" in actually implemented way.
b) (a bit theoretic) Sec-WebSocket-Protocol: header
Again, the client can include multiple protocols and server select which accept and answer only with it. This can be used for detecting which type of nanomsg socket implement the server.

@JackDunaway we need to get this fixed... did you have plans to address, or should I?

@gdamore, thanks for the ping. I will push a PR this week; stay tuned.

Its been over a month since then?  Any update?  Else I will fix.